/* start login style*/
.cancel {
  transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  cursor: pointer;
}
.cancel:hover {
  transform: rotate(-180deg);
}
.title {
  border-bottom: 2px solid #ebebeb;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 55px;
  font-weight: 700;
  margin: 0;
}
.title.active {
  /* font-size: 1.25rem; */
  border-color: var(--color-main);
}
.appear{
    background-color: rgba(0, 0, 0, 0.5);
}
.button-navigate{
  margin-bottom:50px;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}
.or span:nth-of-type(2){
  padding: 0 20px;
}

/* end login style*/

/* start shared style in login and register */


.label label {
  color: #6b6b6b;
}
.label label span {
  color: var(--red);
}
.input{
    color: var(--color-main);
}

.input::placeholder {
    color: #999;
    font-size:14px
}

.group-button .button {
    color: var(--white);
    outline: none;
    width: 100%;
    border-radius: 2px;
    line-height: 50px;
    padding: 0;
    cursor: pointer;
    border: 0;
    transition: all 0.24s linear 0s;
    -webkit-transition: all .24s linear 0s;
}
.button-submit {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
}

.group-button .register{
    color: var(--color-main);

}

.passwordInputWrapper {
  position: relative;
}

.togglePasswordVisibilityButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
/* end shared style in login and register */


