.cart-container {
  padding-top: 4rem;
  min-height: 80vh;
}
.pointer {
  cursor: pointer;
}
.cart-btn:hover {
  background-color: #c7ab62;
}
.item-img {
  width: 5rem;
  height: 5rem;
}
.spanColor {
  width: 1rem !important;
  height: 1rem !important;
  border: solid black;
  margin-top: 0.1rem;
}
.counter {
  flex-wrap: nowrap !important;
  margin-top: -0.3rem;
}
@media (max-width: 767.98px) {
  .counter-value {
    width: auto;
  }
}
.item-name{
  margin-top: -2rem;
}
