.cart-container {
  padding-top: 4rem;
  min-height: 80vh;
}
.input-group {
  flex-wrap: nowrap;
}
.input-text {
  border: none;
  text-align: center;
  /* max-width: 40px; */
}
.pointer {
  cursor: pointer;
}
.cart-btn:hover {
  background-color: #c7ab62;
}
.item-img {
  width: 6rem;
  height: 6rem;
}
.spanColor {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border: solid black;
}
