* {
  box-sizing: border-box;
}

.checkout {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}
@media only screen and (min-width: 768px) {
  .checkout {
    margin-left: 6rem !important;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .checkout {
    margin-left: 4rem !important;
  }
}

.checkout .container {
  background-color: blue !important;
  margin-left: 40px !important;
}

.checkoutContainer .formGroup input {
  height: 50%;
}
.firstrow {
  margin: 0;
  height: 80%;
}

.checkout input,
.checkout select,
.checkout button {
  margin-top: 1rem;
}
.rightorderColumn {
  padding-top: 20px;
  background-color: #f1f1f1 !important;
  height: 100lvh;
}
.leftFormColum .form-group {
  width: 50%;
}
.leftFormColum {
  /* background-color: red; */
}
/* large screen */
@media screen and (min-width: 992px) {
  .leftFormColum {
    padding-right: 60px;
  }
  .leftFormColum {
    margin-left: 0rem;
  }

  .rightorderColumn {
    margin-right: 0px;
  }
}
@media (max-width: 1024px) {
}
.checklabal {
  margin-top: 10px;
}

/* =============shoppping cart ===================== */
.imgcontainer {
  position: relative;
}
.productImg {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  padding: 0px;
  border: 0.5px solid #d9d9d9;

  position: relative;
}
.productImg img {
  background-color: var(--footer-links);
}

.productInfo p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 5px;
}

.spanColor {
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  border-radius: 100px;
  border: 2px solid #eee;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 3px;
}

.quantitCircle {
  position: absolute;
  background-color: #7f7f7f;
  color: #f7ffea;
  top: -4px;
  left: 38px;
  width: 20px !important;
  height: 20px !important;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.currency {
  color: var(--secondary-gray);
  font-size: 11px;
  margin-right: 7px;
}
.Subtotal {
  font-weight: 600;
  margin-bottom: 0;
}
.Shipping {
  font-size: 11;
  margin-top: -10px;
}
.blue {
  background-color: #d0e9f7;
  border: 1px solid #04397a81;
}
/* shipping btn  3C535E */

/* ----------------- */
.gray {
  color: var(--secondary-gray);
}
.orderbtn {
  /* margin-right: 1px; */
}
.PaymentMethod {
  height: 100%;
  height: 80lvh;
}
.orderbtn {
  /* margin-right: 1px; */
}
