:root {
  --white: #fff;
  --yellow: #c7ab62;
  --main-black: #222;
  --price-compare: #888;
  --main-gray: #444;
  --secondary-gray: #666;
  --footer-links: #999;
  --light-gray: #f6f6f6;
  --red: #e21c1c;
}

/* typography */
body,
button,
input {
  font-family: "DM Sans", sans-serif !important;
}

body {
  color: var(--main-black);
}

/* global style */
a,
img {
  -webkit-user-drag: none;
}

/* start custom classes */
.hover-bg-yellow:hover {
  background-color: var(--yellow) !important;
}

.hover-color-yellow:hover {
  color: var(--yellow) !important;
}

.btn-bg-dark {
  background-color: var(--main-black);
}

.btn-bg-dark:hover {
  background-color: var(--yellow);
}

.btn-bg-gray {
  background-color: var(--light-gray);
}

.btn-bg-white {
  background-color: var(--white);
}

.btn-bg-gray:hover,
.btn-bg-white:hover {
  background-color: var(--yellow);
  color: white !important;
}

.btn-with-border {
  border: 2px solid var(--main-black);
  color: var(--main-black);
}

.btn-with-border:hover {
  border-color: var(--yellow);
  color: var(--yellow);
}

.text-red {
  color: var(--red);
}

.color-old-price {
  color: var(--price-compare);
}

.color-product-name {
  color: var(--secondary-gray);
}

.slider-btn {
  background-color: rgba(0, 0, 0, 0.4) !important;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  opacity: 0;
}

.slider-btn:hover {
  background-color: var(--yellow) !important;
}

.color-main-gray {
  color: var(--main-gray);
}

.color-secondary-gray {
  color: var(--secondary-gray);
}

.color-main-black {
  color: var(--main-black);
}

.color-yellow {
  color: var(--yellow);
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  text-overflow: ellipsis;
}

.bg-yellow {
  background-color: var(--yellow);
}
/* end custom classes */

/* start main layout */
/* Start instagram posts */
.insta-posts .multi-carousel .slider-btn {
  opacity: 0 !important;
}

.insta-posts .multi-carousel:hover .slider-btn {
  opacity: 1 !important;
}

.insta-posts .dragged {
  pointer-events: none;
}

.insta-posts .icon-holder {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s ease;
}

.insta-posts .post:hover .icon-holder {
  opacity: 1;
}

.insta-posts .post img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.insta-posts .post:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* end instagram posts */

/* start brands slider*/
.brands-slider .slider-btn {
  opacity: 0 !important;
}

.brands-slider:hover .slider-btn {
  opacity: 1 !important;
}

.brands-slider img {
  transition: transform ease 0.5s;
}

.brands-slider img:hover {
  transform: scale(1.2);
}
/* end brands slider*/

/* start product card */
.product-card .holder .hover-img {
  opacity: 0;
  transition: opacity ease 0.5s, transform ease 0.7s;
}

.product-card:hover .holder .hover-img {
  opacity: 1;
}

.product-card .holder:hover .hover-img {
  transform: scale(1.2);
}

.product-card .badge {
top: 1.5rem;
left: 1.5rem;
z-index: 1;  
}
/* end product card */
/* End main layout */
