:root {
  --white: #fff;
  --yellow: #c7ab62;
  --main-black: #222;
  --price-compare: #888;
  --main-gray: #444;
  --secondary-gray: #666;
  --footer-links: #999;
  --light-gray: #f6f6f6;
  --red: #e21c1c;
}

/* typography */
body,
button,
input {
  font-family: "DM Sans", sans-serif !important;
}

body {
  color: var(--main-black);
}

/* global style */
a,
img {
  -webkit-user-drag: none;
}

.multi-carousel .slider-btn {
  opacity: 0 !important;
}

.multi-carousel:hover .slider-btn {
  opacity: 1 !important;
}

.react-multi-carousel-track {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* start custom classes */
.hover-bg-yellow:hover {
  background-color: var(--yellow) !important;
}

.hover-color-yellow:hover {
  color: var(--yellow) !important;
}

.btn-bg-dark {
  background-color: var(--main-black);
}

.btn-bg-dark:hover {
  background-color: var(--yellow);
}

.btn-bg-gray {
  background-color: var(--light-gray);
}

.btn-bg-white {
  background-color: var(--white);
}

.btn-bg-gray:hover,
.btn-bg-white:hover {
  background-color: var(--yellow);
  color: white !important;
}

.btn-with-border {
  border: 2px solid var(--main-black);
  color: var(--main-black);
}

.btn-with-border:hover {
  border-color: var(--yellow);
  color: var(--yellow);
}

.text-red {
  color: var(--red);
}

.color-old-price {
  color: var(--price-compare);
}

.color-product-name {
  color: var(--secondary-gray);
}

.slider-btn {
  background-color: rgba(0, 0, 0, 0.4) !important;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  opacity: 0;
}

.slider-btn:hover {
  background-color: var(--yellow) !important;
}

.color-main-gray {
  color: var(--main-gray);
}

.color-secondary-gray {
  color: var(--secondary-gray);
}

.color-main-black {
  color: var(--main-black);
}

.color-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}
/* end custom classes */

/* start main layout */
/* Start instagram posts */
.insta-posts .dragged {
  pointer-events: none;
}

.insta-posts .icon-holder {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s ease;
}

.insta-posts .post:hover .icon-holder {
  opacity: 1;
}

.insta-posts .post img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.insta-posts .post:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* end instagram posts */

/* start brands slider*/
.brands-slider img {
  transition: transform ease 0.5s;
}

.brands-slider img:hover {
  transform: scale(1.2);
}
/* end brands slider*/

/* start product card */
.product-card .holder .hover-img {
  opacity: 0;
  transition: opacity ease 0.5s, transform ease 0.7s;
}

.product-card:hover .holder .hover-img {
  opacity: 1;
}

.product-card .holder:hover .hover-img {
  transform: scale(1.2);
}

.product-card .badge {
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
}
.addToCart-btn:hover{
  background-color: var(--yellow);
}
.removeFromCart-btn{
  background-color: lightgray;
}
.removeFromCart-btn:hover{
  background-color: lightgray;
}
/* end product card */

/*Footer*/
.footer-color {
  color: var(--footer-links) !important;
}
footer {
  background-color: var(--main-black);
}

footer {
  padding-top: 6rem;
}

.footer-toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-toggle .icon {
  transition: transform 0.3s ease-in-out;
  margin-left: 1rem;
}
.footer-content {
  display: none;
}

.footer-content.show {
  display: block;
}

.footer-content.hide {
  display: none;
}

.menu-footer .link {
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-footer .link:hover {
  display: block;
  transform: translateX(10px);
}

.icon {
  transition: transform 0.3s ease-in-out;
  margin-left: 1rem;
}

.icon::before {
  transform: rotate(90deg);
}

.icon-rotate {
  transform: rotate(180deg);
}

.contacts {
  text-decoration: underline;
}
/* end footer */

/* start header */
.header {
  z-index: 10;
}

.header .nav-link.active {
  color: var(--yellow)!important;
}

.header .logo {
  width: 6rem;
}

.cart-btn .badge {
  
  font-size: 0.6rem;
}
/* end header */

/* start page header */
.headerCover {
  height: 50vh;
  background-image: url(./assets/page-header.jpg);
  background-size: cover;
}

.headerCover h1 {
  font-size: 3rem;
}

@media (max-width: 767.5px) {
  .headerCover h1 {
    font-size: 2.2rem;
  }

  .breadcrumb {
    font-size: 0.85rem;
  }
}
/* end page header */
/* end main layout */

/* about style page */

.aboutContainer {
  display: grid;
  grid-template-rows: 1fr !important;
  background-color: var(--light-gray) !important;
}
.aboutContainer.mgContainer {
  height: 100%;
  height: 20%;
}
.aboutContainer.aboutImg {
  height: 100%;
  object-fit: cover;
}
.contentContainer {
  background-color: var(--light-gray) !important;
}

.aboutContainer.aboutBtns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.aboutContainer.aboutBtn {
  height: 50px;
  background-color: var(--main-black);
  color: var(--white);
  text-align: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--main-black) !important;
  color: white !important;
}

/* Define the color for the active tab */
.aboutContainer .nav-link.active {
  color: white;
}

.nav-tabs .nav-link {
  color: var(--main-black);
}
.nav-tabs .Tabs {
  /* background-color: var(--light-gray); */
  margin-top: 0;
}
/* =====================================================  */
.whatTellContainer {
  height: 70vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.whatTellContainer .thecontent {
  height: 60%;
  width: 60%;
  margin: auto;
  padding-top: 45px;
  position: relative;
  text-align: center;
}
.whatTellContainer h1 {
  position: absolute;
  top: -50px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.whatTellContainer p {
  text-align: center;
  font-size: 1rem;
  line-height: 40px;
}
.whatTellContainer h5 {
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
.whatTellContainer h6 {
  position: absolute;
  text-align: center;
  bottom: 0px;
}

@media (max-width: 1024px) {
  .whatTellContainer .thecontent {
    height: 60%;
    width: 100%;
    margin: auto;
    padding-top: 45px;
    position: relative;
    text-align: center;
  }
  .whatTellContainer .thecontent h1 {
    width: 100%;
    font-size: 1.5rem;
    top: -30px;
    text-align: center;
  }
  .whatTellContainer .thecontent p {
    width: 100%;
    font-size: 1rem;
    line-height: 20px;
  }
}

/* =====  end about page =============== */

/* ===== start scroll to top button ======= */
.flow-button {
  display: flex;
  bottom: 2.5rem;
  right: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 12;
  box-shadow: 1px 0px 6px rgb(203, 202, 202);
}
/* ===== end scroll to top button ======= */

/* ===== start  home carousel  =======*/
#home .carousel-inner {
  height: 100%;
}
/* ====== end  home carousel ========= */

/* for cartModal*/
.cartmodal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
/*end cartModal*/